.reflect-y {
    transform: scale(-1, 1);
}

.icon.reflect-y {
    transition: none;
}

.drag-bar {
	height: 100%;
	width: 7px;
	position: absolute;
	right: 0;
}

.drag-bar:hover {
	cursor: col-resize;
}

#shellnavigation {
	webkit-transition: none !important;
	transition: none !important;
}

.icon-archive-menu {
    width: 19px;
    height: auto;
    display: inline;
    position: relative;
    top: 3px;
}

.icon-archive-action {
    width: 16px;
    height: 12px !important;
    display: inline;
    position: relative;
    top: -2px;
}